<template>
  <v-card>
    <v-img :aspect-ratio="16/9" src="https://cdn.vuetifyjs.com/images/parallax/material2.jpg">
      <v-card-title>
        <v-btn dark icon>
          <v-icon>chevron_left</v-icon>
        </v-btn>
        <v-spacer></v-spacer>
        <v-btn dark icon class="mr-3">
          <v-icon>edit</v-icon>
        </v-btn>
        <v-btn dark icon>
          <v-icon>more_vert</v-icon>
        </v-btn>
      </v-card-title>
      <v-spacer></v-spacer>
      <div class="fill-height repeating-gradient">
        <v-avatar>
          <img src="https://scontent-nrt1-1.cdninstagram.com/vp/9117568bb600f98d9cf5e60fc22d9a4b/5D26D7A8/t51.2885-19/s320x320/11906229_162931427383589_2034427221_a.jpg?_nc_ht=scontent-nrt1-1.cdninstagram.com" alt="John">
        </v-avatar>
      </div>
      <v-card-title class="white--text pl-5 pt-5">
        <div class="display-1 pl-5 pt-5">Ali Conners</div>
      </v-card-title>
    </v-img>
    <v-list two-line class="pa-0">
      <v-list-tile href="#">
        <v-list-tile-action>
          <v-icon color="indigo">account_circle</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>seiichi_sakakibara</v-list-tile-title>
          <v-list-tile-sub-title>ユーザー名</v-list-tile-sub-title>
        </v-list-tile-content>
        <v-list-tile-action>
          <v-icon>chat</v-icon>
        </v-list-tile-action>
      </v-list-tile>
      <v-list-tile href="#">
        <v-list-tile-action></v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>(323) 555-6789</v-list-tile-title>
          <v-list-tile-sub-title>Work</v-list-tile-sub-title>
        </v-list-tile-content>
        <v-list-tile-action>
          <v-icon>chat</v-icon>
        </v-list-tile-action>
      </v-list-tile>
      <v-divider inset></v-divider>
      <v-list-tile href="#">
        <v-list-tile-action>
          <v-icon color="indigo">mail</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>aliconnors@example.com</v-list-tile-title>
          <v-list-tile-sub-title>Personal</v-list-tile-sub-title>
        </v-list-tile-content>
      </v-list-tile>
      <v-list-tile href="#">
        <v-list-tile-action></v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>ali_connors@example.com</v-list-tile-title>
          <v-list-tile-sub-title>Work</v-list-tile-sub-title>
        </v-list-tile-content>
      </v-list-tile>
      <v-divider inset></v-divider>
      <v-list-tile href="#">
        <v-list-tile-action>
          <v-icon color="indigo">location_on</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>1400 Main Street</v-list-tile-title>
          <v-list-tile-sub-title>Orlando, FL 79938</v-list-tile-sub-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>
  </v-card>   

</template>

<script>
export default {
  
};
</script>
