<template>
  <v-toolbar
    color="primary"
    fixed
    dark
    app
    >
    <v-toolbar-title class="ml-0 pl-3">
      <v-toolbar-side-icon @click.stop="handleDrawerToggle"></v-toolbar-side-icon>
    </v-toolbar-title>
    <v-spacer></v-spacer>
    <v-btn icon @click="handleFullScreen()">
      <v-icon>fullscreen</v-icon>
    </v-btn>
    <v-tabs
      slot="extension"
      v-model="tab"
      color="transparent"
      fixed-tabs
      slider-color="cyan"
      >
      <v-tab
        v-for="(item,index) in accounts"
        v-bind:key="item.id"
        v-bind:href="'#tab-' + item.name"
      >
        <v-card-text>{{ item.name }}</v-card-text>
        <div v-html=item.icon></div>
      </v-tab>

      <v-menu
        v-if="more.length"
        bottom
        class="v-tabs__div"
        left
      >
        <a slot="activator" class="v-tabs__item">
          more
          <v-icon>arrow_drop_down</v-icon>
        </a>

        <v-list class="grey lighten-3">
          <v-list-tile
            v-for="(item,index) in more"
            v-bind:key="item.id"
          >
            {{ item.name }}
          </v-list-tile>
        </v-list>
      </v-menu>
    </v-tabs>
    <v-menu bottom left origin="center center"  :nudge-bottom="60"  transition="scale-transition">
      <v-btn icon flat slot="activator">
      <v-badge color="red" overlap>
        <span slot="badge">3</span>
        <v-icon medium>notifications</v-icon>
      </v-badge>
      </v-btn>
      <notification-list></notification-list>
    </v-menu>
    <v-menu bottom left origin="center center"  :nudge-bottom="60"  transition="scale-transition">
      <v-btn icon large flat slot="activator">
        <v-avatar size="30px">
          <img src="https://scontent-nrt1-1.cdninstagram.com/vp/9117568bb600f98d9cf5e60fc22d9a4b/5D26D7A8/t51.2885-19/s320x320/11906229_162931427383589_2034427221_a.jpg?_nc_ht=scontent-nrt1-1.cdninstagram.com" alt="Michael Wang"/>
        </v-avatar>
      </v-btn>
      <v-list class="pa-0">
        <v-list-tile v-for="(item,index) in items" :to="!item.href ? { name: item.name } : null" :href="item.href" @click="item.click" ripple="ripple" :disabled="item.disabled" :target="item.target" rel="noopener" :key="index">
          <v-list-tile-action v-if="item.icon">
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>{{ item.title }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-menu>
  </v-toolbar>
</template>
<script>
import NotificationList from '@/components/widgets/list/NotificationList';
import Util from '@/util';
export default {
  name: 'app-toolbar',
  components: {
    NotificationList
  },
  data: () => ({
    items: [
      {
        icon: 'account_circle',
        href: '#',
        title: 'プロフィール',
        click: (e) => {
          console.log(e);
        }
      },
      {
        icon: 'settings',
        href: '#',
        title: '設定',
        click: (e) => {
          console.log(e);
        }
      },
      {
        icon: 'fullscreen_exit',
        href: '#',
        title: 'ログアウト',
        click: (e) => {
          window.getApp.$emit('APP_LOGOUT');
        }
      }
    ],
    accounts: [
      { 
        id:0,
        name:'ALL',
        icon:'<i class="fa fa-align-left fa-2x"></i>'
      },  
      { 
        id:1,
        name:'Instagram',
        icon:'<i class="fab fa-instagram fa-2x"></i>'
      },
      { 
        id:2,
        name:'Twitter',
        icon:'<i class="fab fa-twitter fa-2x"></i>'
      },
      { 
        id:3,
        name:'Line Blog',
        icon:'<i class="fab fa-line fa-2x"></i>'
      },
      {
        id:4, 
        name:'TikTok',
        icon:'<i class="fas fa-video fa-2x"></i>'
      }
    ],
    more: [
      {
        id:1,
        name:'Facebook', 
      },
      {
        id:2,
        name:'Ameba blog', 
      }
    ],
    text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
  }),
  computed: {
    toolbarColor () {
      return this.$vuetify.options.extra.mainNav;
    }
  },
  methods: {
    handleDrawerToggle () {
      window.getApp.$emit('APP_DRAWER_TOGGLED');
    },
    handleFullScreen () {
      Util.toggleFullScreen();
    }
  }
};
</script>
