<template>
	<v-container>
    	<v-layout row wrap>
    	</v-layout>
      <v-layout row wrap>
        <v-autocomplete
          v-model="friends"
          :disabled="isUpdating"
          :items="services"
          box
          chips
          color="blue-grey lighten-2"
          label="サービス名を入力して下さい"
          item-text="name"
          item-value="name"
          multiple
        >
          <template
            slot="selection"
            slot-scope="data"
          >
            <v-chip
              :selected="data.selected"
              close
              class="chip--select-multi"
              @input="remove(data.item)"
            >
              <v-avatar>
                <img :src="data.item.avatar">
              </v-avatar>
              {{ data.item.name }}
            </v-chip>
          </template>
          <template
            slot="item"
            slot-scope="data"
          >
            <template v-if="typeof data.item !== 'object'">
              <v-list-tile-content v-text="data.item"></v-list-tile-content>
            </template>
            <template v-else>
              <v-list-tile-avatar>
                <img :src="data.item.avatar">
              </v-list-tile-avatar>
              <v-list-tile-content>
                <v-list-tile-title v-html="data.item.name"></v-list-tile-title>
                <v-list-tile-sub-title v-html="data.item.group"></v-list-tile-sub-title>
              </v-list-tile-content>
            </template>
          </template>
        </v-autocomplete>
      </v-layout>
    </v-container>
</template>

<script>
import Util from '@/util';

export default {
  data () {
    const srcs = {
      1: 'https://bit.ly/2EcW3Do',
      2: 'https://bit.ly/1bBFd8h',
      3: 'https://bit.ly/2BDCB0R',
      4: 'https://bit.ly/2X6FeBF',
      5: 'https://bit.ly/2SSzSdY',
      6: 'https://bit.ly/2S29wBO',
      7: 'https://bit.ly/2X6aK2z',
      8: 'https://bit.ly/2SHF1Gn',
      9: 'https://bit.ly/2S8ZleV',
    }
    return {
      autoUpdate: true,
      friends: ['Instagram', 'Facebook','Twitter','Line Blog'],
      isUpdating: false,
      name: 'Midnight Crew',
      services: [
        { header: 'Group 1' },
        { name: 'Instagram', group: 'Group 1', avatar: srcs[1] },
        { name: 'Facebook', group: 'Group 1', avatar: srcs[2] },
        { name: 'Twitter', group: 'Group 1', avatar: srcs[3] },
        { name: 'Line Blog', group: 'Group 1', avatar: srcs[4] },
        { divider: true },
        { header: 'Group 2' },
        { name: 'Tiktok', group: 'Group 2', avatar: srcs[5] },
        { name: 'Ameba blog ', group: 'Group 2', avatar: srcs[6] },
        { name: 'Snapchat', group: 'Group 2', avatar: srcs[7] },
        { name: 'Pinterest', group: 'Group 2', avatar: srcs[8] },
        { name: 'Tumblr', group: 'Group 2', avatar: srcs[9] },
      ],
      title: 'The summer breeze'
    }},
    watch: {
      isUpdating (val) {
        if (val) {
          setTimeout(() => (this.isUpdating = false), 3000)
        }
      }
    },

    methods: {
      remove (item) {
        const index = this.friends.indexOf(item.name)
        if (index >= 0) this.friends.splice(index, 1)
      }
    }
  };
</script>