<template>
<v-card>
  <v-card-text>
    <v-layout align-center mb-3>
      <v-avatar color="grey" class="mr-3">
      <img src="https://scontent-nrt1-1.cdninstagram.com/vp/f5231631f18c26b6181f4cb30ee34b02/5CFF4AA8/t51.2885-19/s320x320/11906229_162931427383589_2034427221_a.jpg?_nc_ht=scontent-nrt1-1.cdninstagram.com" alt="avatar">
      </v-avatar>
      <strong class="title">seiichi_sakakibara</strong>
      <v-spacer></v-spacer>
      <v-btn icon>
        <v-icon>mdi-account</v-icon>
      </v-btn>
      <v-btn color="error" outline large align-right>Instagramアカウントへ</v-btn>
    </v-layout>
    <div>
      {{cardText}}
    </div>
<v-card-text class="lighten-3">三つくらいの重要な指標をブロックでLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</v-card-text>
  <v-widget content-bg="white">
    <div slot="widget-content">
        <e-chart
        :path-option="[
          ['dataset.source', siteTrafficData],
          ['color', [color.lightBlue.base, color.green.lighten1]],
          ['legend.show', true],
          ['xAxis.axisLabel.show', true],
          ['yAxis.axisLabel.show', true],
          ['grid.left', '2%'],
          ['grid.bottom', '5%'],
          ['grid.right', '3%'],
          ['series[0].type', 'bar'],
          ['series[0].areaStyle', {}],
          ['series[0].smooth', true],
          ['series[1].smooth', true],
          ['series[1].type', 'bar'],
          ['series[1].areaStyle', {}],
        ]"
        height="400px"
        width="100%"
        >
        </e-chart>
    </div>
  </v-widget>

  </v-card-text>
</v-card>
</template>
<script>
</script>
