<template>
	<v-container>

    <v-layout row wrap>
      <v-flex xs12>
        <v-widget title="Basic Usage">
          <v-jumbotron color="grey lighten-4">
            <v-container fill-height>
              <v-layout align-center>
                <v-flex>
                  <p class="display-1">計測アカウントの登録</p>
                  <span class="subheading">SNSサービスやアカウント
                  毎の登録・削除はこの画面から行うことが出来ます。</span>
                  <v-divider class="my-5"></v-divider>
                  <v-dialog v-model="dialog" persistent>
                    <v-btn large color="primary" slot="activator" dark>登録する</v-btn>
                    <v-card>
                      <v-card-title>
                        <span class="headline">計測するSNSアカウントアカウントの登録</span>
                      </v-card-title>
                      <v-card-text>
                        <v-container grid-list-md>
                          <v-layout wrap>
                            <v-flex xs12>
                              <v-select
                                :items="['Instagram', 'Facebook', 'Twitter', 'Line Blog','Tiktok','Ameba blog','Snapchat','Pinterest']"
                                label="SNSのアカウント名"
                                required
                              ></v-select>
                            </v-flex>
                            <v-flex xs12>
                              <v-text-field label="ユーザーID" required></v-text-field>
                            </v-flex>
                          </v-layout>
                        </v-container>
                      </v-card-text>
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" flat @click.native="dialog = false">閉じる</v-btn>
                        <v-btn color="primary" outlign @click.native="dialog = false">検索する</v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                </v-flex>
              </v-layout>
            </v-container>
          </v-jumbotron>
      </v-widget>
      </v-flex>
    </v-layout>

    <v-layout row wrap>
      <v-flex xs12>
        <v-autocomplete
          v-model="friends"
          :disabled="isUpdating"
          :items="services"
          box
          chips
          color="blue-grey lighten-2"
          label="サービス名を入力して下さい"
          item-text="name"
          item-value="name"
          multiple
        >
          <template
            slot="selection"
            slot-scope="data"
          >
            <v-chip
              :selected="data.selected"
              close
              class="chip--select-multi"
              @input="remove(data.item)"
            >
              <v-avatar>
                <img :src="data.item.avatar">
              </v-avatar>
              {{ data.item.name }}
            </v-chip>
          </template>
          <template
            slot="item"
            slot-scope="data"
          >
            <template v-if="typeof data.item !== 'object'">
              <v-list-tile-content v-text="data.item"></v-list-tile-content>
            </template>
            <template v-else>
              <v-list-tile-avatar>
                <img :src="data.item.avatar">
              </v-list-tile-avatar>
              <v-list-tile-content>
                <v-list-tile-title v-html="data.item.name"></v-list-tile-title>
                <v-list-tile-sub-title v-html="data.item.group"></v-list-tile-sub-title>
              </v-list-tile-content>
            </template>
          </template>
        </v-autocomplete>
      </v-flex>
    </v-layout>

    <v-layout row wrap>
      <v-flex xs12 sm6 md6>
        <v-container grid-list-sm fluid>
          <v-flex lg12 sm12 v-for="(item,index) in users" :key=" 'basic' + index">
            <name-card v-bind="item"></name-card>
          </v-flex>
        </v-container>
      </v-flex>
      <v-flex xs12 sm6 md6>
        <v-container grid-list-sm fluid>
          <v-flex lg12 sm12 v-for="(item,index) in users" :key=" 'basic' + index">
            <name-card v-bind="item"></name-card>
          </v-flex>
        </v-container>
      </v-flex>
      <v-flex xs12 sm6 md6>
        <v-container grid-list-sm fluid>
          <v-flex lg12 sm12 v-for="(item,index) in users" :key=" 'basic' + index">
            <name-card v-bind="item"></name-card>
          </v-flex>
        </v-container>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import Util from '@/util';
import NameCard from '@/components/widgets/card/NameCard';

export default {
  components:{
    NameCard
  },
  data () {
    const srcs = {
      1: 'https://bit.ly/2EcW3Do',
      2: 'https://bit.ly/1bBFd8h',
      3: 'https://bit.ly/2BDCB0R',
      4: 'https://bit.ly/2EbWtKv',
      5: 'https://bit.ly/2SSzSdY',
      6: 'https://bit.ly/2S29wBO',
      7: 'https://bit.ly/2X6aK2z',
      8: 'https://bit.ly/2SHF1Gn',
      9: 'https://bit.ly/2S8ZleV',
    }
    return {
      dialog: false,
      autoUpdate: true,
      friends: ['Instagram', 'Facebook'],
      isUpdating: false,
      name: 'Midnight Crew',
      services: [
        { header: 'Group 1' },
        { name: 'Instagram', group: 'Group 1', avatar: srcs[1] },
        { name: 'Facebook', group: 'Group 1', avatar: srcs[2] },
        { name: 'Twitter', group: 'Group 1', avatar: srcs[3] },
        { name: 'Line Blog', group: 'Group 1', avatar: srcs[4] },
        { divider: true },
        { header: 'Group 2' },
        { name: 'Tiktok', group: 'Group 2', avatar: srcs[5] },
        { name: 'Ameba blog ', group: 'Group 2', avatar: srcs[6] },
        { name: 'Snapchat', group: 'Group 2', avatar: srcs[7] },
        { name: 'Pinterest', group: 'Group 2', avatar: srcs[8] },
        { name: 'Tumblr', group: 'Group 2', avatar: srcs[9] },
      ],
      title: 'The summer breeze',
      users: [
        {
          userID: 'ユーザー名',
          name: 'seiichi_sakakibara',
          avatar: {
            src: 'https://bit.ly/2DO0rXZ',
            size: '36'
          },
        }
      ]
    }},
    watch: {
      isUpdating (val) {
        if (val) {
          setTimeout(() => (this.isUpdating = false), 3000)
        }
      }
    },

    methods: {
      remove (item) {
        const index = this.friends.indexOf(item.name)
        if (index >= 0) this.friends.splice(index, 1)
      }
    }
  };
</script>
