<template>
<v-container>
<v-layout row wrap>
  <v-flex text-xs-right>
    <v-btn-toggle v-model="toggle_exclusive">
      <v-btn flat>
        <span>直近１週間</span>
        <v-icon>format_align_left</v-icon>
      </v-btn>
      <v-btn flat>
        <span>過去30日間</span>
        <v-icon>format_align_center</v-icon>
      </v-btn>
      <v-btn flat>
        <span>過去3ヶ月</span>
        <v-icon>format_align_right</v-icon>
      </v-btn>
    </v-btn-toggle>
  </v-flex>

  <v-container grid-list-xl fluid>
  <v-layout row wrap>
    <v-flex xs12 sm6 md4>
      <mini-statistic
        icon="edit"
        title="7"
        sub-title="投稿数"
        color="cyan"
      >
      </mini-statistic>
    </v-flex>
    <v-flex xs12 sm6 md4>
      <mini-statistic
        icon="favorite"
        title="30"
        sub-title="もらったいいね数"
        color="pink"
      >
      </mini-statistic>
    </v-flex>
    <v-flex xs12 sm6 md4>
      <mini-statistic
        icon="account_circle"
        title="+3"
        sub-title="フォロワー数増減"
        color="indigo"
      >
      </mini-statistic>
    </v-flex>
    <v-flex xs12 sm6 md4>
      <mini-statistic
        icon="grade"
        title="3.1%"
        sub-title="エンゲージメント率"
        color="green"
      >
      </mini-statistic>
    </v-flex>
  </v-layout>
  </v-container>
</v-layout>

<v-layout row wrap>
<v-card>
  <v-card-text>
    <v-layout align-center mb-3>
      <v-avatar color="grey" class="mr-3">
      <img src="https://scontent-nrt1-1.cdninstagram.com/vp/f5231631f18c26b6181f4cb30ee34b02/5CFF4AA8/t51.2885-19/s320x320/11906229_162931427383589_2034427221_a.jpg?_nc_ht=scontent-nrt1-1.cdninstagram.com" alt="avatar">
      </v-avatar>
      <strong class="title">seiichi_sakakibara</strong>
      <v-spacer></v-spacer>
    </v-layout>
    <div>
      {{cardText}}
    </div>
    <v-btn color="error" outline  align-left>Instagramアカウントへ</v-btn>
  </v-card-text>
</v-card>
</v-layout>

<v-card>
  <v-card-text>
      <box-chart
        title="過去30日間　フォロワー数推移"
        sub-title="10%"
        icon="trending_up"
        :data="followerTrafficData"
        :chart-color="[color.blue.darken1]"
        type="area"
      >
      </box-chart>
  </v-card-text>
  <v-card-text class="white">
    <div class="layout row align-center ma-0">
      <div class="grey--text">
        <div class="subheading mt-2">現在のフォロワー数</div>
        <div class="subheading mt-2">2512</div>
      </div>
      <v-spacer></v-spacer>
      <div class="">
        <v-progress-circular
          :size="100"
          :width="15"
          :rotate="360"
          :value="13"
          color="blue"
        >
          +13
        </v-progress-circular>
      </div>
    </div>
  </v-card-text>
</v-card>

<v-card>
  <v-card-text>
    <v-widget title="投稿数とエンゲージメント" content-bg="white">
      <div slot="widget-content">
        <e-chart
        :path-option="[
          ['dataset.source', siteTrafficData],
          ['color', [color.lightBlue.base, color.green.lighten1]],
          ['legend.show', true],
          ['xAxis.axisLabel.show', true],
          ['yAxis.axisLabel.show', true],
          ['grid.left', '2%'],
          ['grid.bottom', '5%'],
          ['grid.right', '3%'],
          ['series[0].type', 'bar'],
          ['series[0].areaStyle', {}],
          ['series[0].smooth', true],
          ['series[1].smooth', true],
          ['series[1].type', 'bar'],
          ['series[1].areaStyle', {}],
        ]"
        height="300px"
        width="100%"
        >
        </e-chart>
      </div>
    </v-widget>
  </v-card-text>
</v-card>

<v-card>
  <v-card-text>
    <v-widget title="SNS別投稿数" content-bg="white">
      <div slot="widget-content">
          <e-chart
          :path-option="[
            ['dataset.source', postsSocialData ],
            ['legend.bottom', '0'],
            ['color', [color.pink.base, color.indigo.base, color.lightBlue.base, color.green.base, color.cyan.base, color.teal.base]],
            ['xAxis.show', false],
            ['yAxis.show', false],
            ['series[0].type', 'pie'],
            ['series[0].avoidLabelOverlap', true],
            ['series[0].radius', ['50%', '70%']],
          ]"
          height="400px"
          width="100%"
          >
          </e-chart>
      </div>
    </v-widget>
  </v-card-text>
</v-card>
<v-card>
  <v-card-text>
  <v-flex lg12 sm12 xs12>
    <post-list-card :items="posts"></post-list-card>
  </v-flex>
  </v-card-text>
</v-card>


</v-container>
</template>
<script>
import API from '@/api';
import { getPost } from '@/api/post';
import MiniStatistic from '@/components/widgets/statistic/MiniStatistic';
import EChart from '@/components/chart/echart';
import VWidget from '@/components/VWidget';
import Material from 'vuetify/es5/util/colors';
import SocialService from '@/components/sns/SocialService';
import BoxChart from '@/components/widgets/chart/BoxChart';
import PostListCard from '@/components/widgets/card/PostListCard';

export default {
  components: {
    VWidget,
    EChart,
    SocialService,
    MiniStatistic,
    BoxChart,
    PostListCard,
  },
  data () {
    return {
      toggle_exclusive: 0,
      color: Material,
      show: true,
      cardText: '●株式会社EMOLVA 代表取締役社長CEO→ インフルエンサーマーケティング、Web広告運用全般、SNSアカウント代行運用・コンサル● #リアルジョジョ立ち●ダンスボーカルアイドルユニット「片目惚れ」総合プロデューサー●弊社運営サービス「INFLUENCER CLOUD」🔽',
      currentItem: 'tab-Web',
    }
  },
  computed: {
    siteTrafficData () {
      return API.getMonthVisit;
    },
    postsSocialData () {
      return API.getSNSposts;
    },
    followerTrafficData () {
      return API.getFolowerData;
    },
    posts () {
      return getPost();
    }
  },
  methods: {
  }
};
</script>

<style>
</style>
