<template>
      <div id="pageDashboard">
      <v-container grid-list-xl fluid>
        <search-management></search-management>
        <plain-table></plain-table>
      </v-container>
	</div>
</template>

<script>
import SearchManagement from '@/components/widgets/search/SearchManagement';
import PlainTable from '@/components/widgets/list/PlainTable';

export default {
  components: {
    PlainTable,
    SearchManagement,
    },
};
</script>
