<template>
  <v-layout row wrap>
    <v-flex lg6 sm6 xs12>
      <ranking-list></ranking-list>
    </v-flex>
  </v-layout>
</template>

<script>
import RankingList from '@/components/widgets/list/RankingList';
import MiniStatistic from '@/components/widgets/statistic/MiniStatistic';

export default {
  components:{
    RankingList,
    MiniStatistic,
  },
  data () {
  return {
  rankingtypes: [
        { name: 'Instagram', group: 'Group 1' },
        { name: 'Facebook', group: 'Group 1' },
        { name: 'Twitter', group: 'Group 1' },
        { name: 'Line Blog', group: 'Group 1' },
      ],
  }},
};
</script>