<template>
<div id="app">
  <v-jumbotron>
    <v-container fill-height>
      <v-layout align-center>
        <v-flex>
          <h3 class="display-3">Welcome to the site</h3>

          <span class="subheading">Lorem ipsum dolor sit amet, pri veniam forensibus id. Vis maluisset molestiae id, ad semper lobortis cum. At impetus detraxit incorrupte usu, repudiare assueverit ex eum, ne nam essent vocent admodum.</span>

          <v-divider class="my-3"></v-divider>

          <div class="title mb-3">Check out our newest features!</div>

          <v-btn
            class="mx-0"
            color="primary"
            large
          >
            See more
          </v-btn>
        </v-flex>
      </v-layout>
    </v-container>
  </v-jumbotron>

  <v-container fluid grid-list-sm>
    <v-layout row wrap>
      <v-flex d-flex xs12 sm4 md4>
        <v-card
          class="mx-auto"
          color="#2122a"
          max-width="400"
        >
          <v-card-title>
            <v-icon
              large
              left
            >
              mdi-twitter
            </v-icon>
            <span class="title font-weight-light">Twitter</span>
          </v-card-title>
      
          <v-card-text font-weight-bold>
            {{ cardText | maxtextlength }}
          </v-card-text>
      
          <v-card-actions>
            <v-list-tile class="grow">
              <v-list-tile-avatar color="grey darken-3">
                <v-img
                  class="elevation-6"
                  src="https://avataaars.io/?avatarStyle=Transparent&topType=ShortHairShortCurly&accessoriesType=Prescription02&hairColor=Black&facialHairType=Blank&clotheType=Hoodie&clotheColor=White&eyeType=Default&eyebrowType=DefaultNatural&mouthType=Default&skinColor=Light"
                ></v-img>
              </v-list-tile-avatar>
      
              <v-list-tile-content>
                <v-list-tile-title>Evan You</v-list-tile-title>
              </v-list-tile-content>
      
              <v-layout
                align-center
                justify-end
              >
                <v-icon class="mr-1">mdi-heart</v-icon>
                <span class="subheading mr-2">256</span>
                <span class="mr-1">·</span>
                <v-icon class="mr-1">mdi-share-variant</v-icon>
                <span class="subheading">45</span>
              </v-layout>
            </v-list-tile>
          </v-card-actions>
        </v-card>
      </v-flex>

      <v-flex d-flex xs12 sm4 md4>
        <v-card
          class="mx-auto"
          color="#2122a"
          max-width="400"
        >
          <v-card-title>
            <div class="category-title-chip">     
              <v-btn @click="tickets.bookmark = !tickets.bookmark" small icon fab color="red" dark class="right caption">
                <div v-if="tickets.bookmark"><v-icon>favorite</v-icon></div>
                <div v-else><v-icon>home</v-icon></div>
              </v-btn>
              <span class="subheading grey--text text--darken-3">トランプ大統領は、公約に掲げる国境沿いの壁を大統領の権限で建設するため</span>
              <div class="right caption">
                <v-chip small dark color="primary">国境</v-chip>
              </div>
            </div>
          </v-card-title>
      
          <v-card-text class="caption grey--text text--darken-3">
           {{ textBody|maxbodylength }}
          </v-card-text>
          <v-divider></v-divider>

          <v-card-actions>
            <v-chip small color="red darken-2" text-color="white">
              <v-avatar>
                <i class="fas fa-exclamation-triangle"></i>
              </v-avatar>
              早急に解決希望
            </v-chip>
            <div class="text-xs-center">
              <v-chip small>2日前</v-chip>
            </div>
            <v-spacer></v-spacer>
          </v-card-actions>

          <v-divider></v-divider>
          <v-card-actions>
            <ul>
              <v-chip small label color="grey" text-color="white">
                <i class="fas fa-hashtag"></i>お金を払ってでも解決したい
              </v-chip>
              <v-chip small label color="grey" text-color="white">
                <i class="fas fa-hashtag"></i>XX県
              </v-chip>
              <v-chip small label color="grey" text-color="white">
              <i class="fas fa-hashtag"></i>無料電話相談希望
              </v-chip>
              <v-chip small label color="grey" text-color="white">
              <i class="fas fa-hashtag"></i>既に他の士業に相談中 
              </v-chip>
            </ul>
          </v-card-actions>

        </v-card>
      </v-flex>

      <v-flex d-flex xs12 sm4 md4>
        <v-card
          class="mx-auto"
          color="#2122a"
          max-width="400"
        >
          <v-card-title>
            <v-icon
              large
              left
            >
              mdi-twitter
            </v-icon>
            <span class="title font-weight-light">Twitter</span>
          </v-card-title>
      
          <v-card-text font-weight-bold>
            "Turns out semicolon-less style is easier and safer in TS because most gotcha edge cases are type invalid as well."
          </v-card-text>
      
          <v-card-actions>
            <v-list-tile class="grow">
              <v-list-tile-avatar color="grey darken-3">
                <v-img
                  class="elevation-6"
                  src="https://avataaars.io/?avatarStyle=Transparent&topType=ShortHairShortCurly&accessoriesType=Prescription02&hairColor=Black&facialHairType=Blank&clotheType=Hoodie&clotheColor=White&eyeType=Default&eyebrowType=DefaultNatural&mouthType=Default&skinColor=Light"
                ></v-img>
              </v-list-tile-avatar>
      
              <v-list-tile-content>
                <v-list-tile-title>ゲゲゲのgto</v-list-tile-title>
              </v-list-tile-content>
      
              <v-layout
                align-center
                justify-end
              >
              <v-icon
              >
                star_border
              </v-icon>
                <span class="subheading mr-2">回答 2</span>
                <span class="mr-1">·</span>
                <v-icon class="mr-1">mdi-share-variant</v-icon>
                <span class="subheading">45</span>
              </v-layout>
            </v-list-tile>
          </v-card-actions>
          <v-divider></v-divider>

          <v-card-actions>
            <v-chip small color="teal" text-color="white">
              <v-avatar>
                <v-icon>check_circle</v-icon>
              </v-avatar>
              解決済み
            </v-chip>
            <div class="text-xs-center">
              <v-chip small>2日前</v-chip>
            </div>
            <v-spacer></v-spacer>
            <v-chip color="white" outline text-color="orange">
              <v-icon small>star</v-icon>
              <v-icon small>star</v-icon>
              <v-icon small>star</v-icon>
              <v-icon small>star</v-icon>
              <v-icon small>star</v-icon>
              <div class="text-xs-center">4.5</div>
            </v-chip>
          </v-card-actions>
          
          <v-divider></v-divider>
          <v-card-actions>
            <ul>
              <v-chip small label color="grey" text-color="white">
                <i class="fas fa-hashtag"></i>頸椎捻挫
              </v-chip>
              <v-chip small label color="grey" text-color="white">
                <i class="fas fa-hashtag"></i>診断書なし
              </v-chip>
              <v-chip small label color="grey" text-color="white">
              <i class="fas fa-hashtag"></i>任意保険は全労済
              </v-chip>
              <v-chip small label color="grey" text-color="white">
              <i class="fas fa-hashtag"></i>マイカー共済
              </v-chip>
            </ul>
          </v-card-actions>
        </v-card>
      </v-flex>

      <v-flex d-flex xs12 sm4 md4>
        <v-card
          class="mx-auto"
          color="#2122a"
          max-width="400"
        >
          <v-card-title>
            <v-icon
              large
              left
            >
              mdi-twitter
            </v-icon>
            <span class="title font-weight-light">Twitter</span>
          </v-card-title>
      
          <v-card-text font-weight-bold>
            "Turns out semicolon-less style is easier and safer in TS because most gotcha edge cases are type invalid as well."
          </v-card-text>
      
          <v-card-actions>
            <v-list-tile class="grow">
              <v-list-tile-avatar color="grey darken-3">
                <v-img
                  class="elevation-6"
                  src="https://avataaars.io/?avatarStyle=Transparent&topType=ShortHairShortCurly&accessoriesType=Prescription02&hairColor=Black&facialHairType=Blank&clotheType=Hoodie&clotheColor=White&eyeType=Default&eyebrowType=DefaultNatural&mouthType=Default&skinColor=Light"
                ></v-img>
              </v-list-tile-avatar>
      
              <v-list-tile-content>
                <v-list-tile-title>Evan You</v-list-tile-title>
              </v-list-tile-content>
      
              <v-layout
                align-center
                justify-end
              >
                <v-icon class="mr-1">mdi-heart</v-icon>
                <span class="subheading mr-2">256</span>
                <span class="mr-1">·</span>
                <v-icon class="mr-1">mdi-share-variant</v-icon>
                <span class="subheading">45</span>
              </v-layout>
            </v-list-tile>
          </v-card-actions>
          <v-divider></v-divider>

          <v-card-actions>
            <v-chip small color="light-blue darken-4" text-color="white">
              <v-avatar>
                <i class="fas fa-sad-tear"></i>
              </v-avatar>
              困り中
            </v-chip>
            <div class="text-xs-center">
              <v-chip small>2日前</v-chip>
            </div>
            <v-spacer></v-spacer>
            <v-chip color="white" outline text-color="orange">
              <v-icon small>star</v-icon>
              <v-icon small>star</v-icon>
              <v-icon small>star</v-icon>
              <v-icon small>star</v-icon>
              <v-icon small>star</v-icon>
              <div class="text-xs-center">4.5</div>
            </v-chip>
          </v-card-actions>

        </v-card>
      </v-flex>

    </v-layout>
  </v-container>
  
  <v-container fluid grid-list-sm>
    <v-card color="grey lighten-4">
      <v-card-title class="pb-0">
        <h4>トランプ大統領 非常事態宣言に署名 壁建設へ強硬手段d</h4>
      </v-card-title>
      </v-card-media>
      <v-card-text>
        <v-btn icon fab color="red" dark class="right mt-45">
          <v-icon>favorite</v-icon>
        </v-btn>
        <div class="auto-grow">
          {{ cardText | maxtextlength }}
        </div>
      </v-card-text>
      <v-card-actions>
        <v-list-tile class="grow">
          <v-list-tile-avatar color="grey darken-3">
            <v-img
              class="elevation-6"
              src="https://avataaars.io/?avatarStyle=Transparent&topType=ShortHairShortCurly&accessoriesType=Prescription02&hairColor=Black&facialHairType=Blank&clotheType=Hoodie&clotheColor=White&eyeType=Default&eyebrowType=DefaultNatural&mouthType=Default&skinColor=Light"
            ></v-img>
          </v-list-tile-avatar>
  
          <v-list-tile-content>
            <v-list-tile-title>Evan You</v-list-tile-title>
          </v-list-tile-content>
  
          <v-layout
            align-center
            justify-end
          >
            <v-icon>heart</v-icon>
            <span class="subheading mr-2">256</span>
            <span class="mr-1">·</span>
            <v-icon class="mr-1">mdi-share-variant</v-icon>
            <span class="subheading">45</span>
          </v-layout>
        </v-list-tile>
      </v-card-actions>
      <v-divider light></v-divider>
      <v-card-actions class="pa-3">
        Rate this album
          <v-spacer></v-spacer>
          <v-icon>star_border</v-icon>
          <v-icon>star_border</v-icon>
          <v-icon>star_border</v-icon>
          <v-icon>star_border</v-icon>
          <v-icon>star_border</v-icon>
      </v-card-actions>
      <v-divider></v-divider>
   </v-card>
  </v-container>
</div>
</template>

<script>
export default {
  components: {
  },
  data () {
    return {
      tickets: [
        { id:'1',bookmark:'False'}
      ],
      active: null,
      favorite: '',
      items: [
        { name:'Instagram',icon:'<i class="fab fa-instagram fa-2x"></i>'},
        { name:'Twitter',icon:'<i class="fab fa-twitter fa-2x"></i>'},
        { name:'Line Blog',icon:'<i class="fab fa-line fa-2x"></i>'},
        { name:'TikTok',icon:'<i class="fas fa-video fa-2x"></i>'}
      ],
      cardText: 'アメリカのトランプ大統領は、公約に掲げる国境沿いの壁を大統領の権限で建設するため「非常事態」を宣言しました。野党・民主党は「権力の乱用だ」として、法的手段で対抗する構えを見せていて、政治的な対立が一層先鋭化することになりそうです。トランプ大統領は15日午前（日本時間16日未明）、ホワイトハウスで演説し、「国境の安全保障上の危機に立ち向かう」と述べうえで、メキシコとの国境沿いの壁を大統領の権限で建設するため、「非常事態宣言」に署名しました。非常事態宣言は大統領が非常時に議会の承認を経ずに迅速に措置をとれるようにする行政手続きで、過去には2001年の同時多発テロや、外国での紛争時に制裁措置を発動した際などに出されています。国境の壁の建設費をめぐっては、与野党が協議の末に13億ドル余りを充てる新たな予算案を取りまとめましたが、57億ドルは必要だとするトランプ大統領は「十分ではない」と不満を示していました。しかし、新たな予算案が成立しなければ、政府機関が再び閉鎖されるため、トランプ大統領としては予算案には署名し、政府機関の閉鎖を回避したうえで非常事態を宣言し、既存の予算の一部を壁の建設に転用するという強硬手段を選んだ形となりました。 ',
      textBody: '預金、貸出、決済は銀行業務の基本で、ある意味聖域でした。それらは、巨大なレガシー型の堅牢な業務系システムなしでは安全に運用出来ないと信じられてきました。しかしながら、その銀行システムでさえ分散系が普及し始め、フィンテックの台頭で上記3業務も銀行の独壇場ではなくなりつつあります。もちろんセキュリティーの問題はありますが、今後業態別の規制が導入される過程で金融庁のチェックリストに耐えられる業者が出てきてもおかしくない。上限額は徐々に引き上げられるだろうし、その間に銀行は抜本的な経営転換を余儀なくされるでしょう。',
    }
  },
  filters: {
    maxtextlength: function(val){
      if (val.length > 80){
        return val.slice(0,80) + '.....続きを読む'
      }
    },
    maxbodylength: function(val){
      if (val.length > 200){
        return val.slice(0,80) + '.....続きを読む'
      }
    }
  },
  methods: {
    next () {
      const active = parseInt(this.active)
      this.active = (active < 2 ? active + 1 : 0)
    },
    getFavorite() {

    }
  }
};
</script>