<template>
  <v-card>
    <v-divider></v-divider>
    <v-card-text>
      <template>
        <v-data-table
          :headers="headers"
          :items="projects"
          hide-actions
          class="elevation-0"
        >
          <template slot="items" slot-scope="props">
            <td>
              <v-avatar size="36px">
                <img :src="props.item.avatar" :alt="props.item.username" />
              </v-avatar>
            </td>
            <td>{{ props.item.name }}</td>
            <td class="text-xs-left">{{ props.item.deadline }}</td>
            <td class="text-xs-left"><v-progress-linear :value="props.item.engagement" height="5" :color="props.item.color"></v-progress-linear> </td>
            <td class="text-xxs-center">{{ props.item.avgiine }}</td>
            <td class="text-xs-right">
              <v-btn depressed outline icon fab dark color="primary" small>
                <v-icon>edit</v-icon>
              </v-btn>
              <v-btn depressed outline icon fab dark color="pink" small>
                <v-icon>delete</v-icon>
              </v-btn>
            </td>
          </template>
        </v-data-table>
      </template>
      <v-divider></v-divider>
    </v-card-text>
  </v-card>
</template>

<script>
import { Projects } from '@/api/project';
import VWidget from '@/components/VWidget';
export default {
  components: {
    VWidget
  },
  data () {
    return {
      headers: [
        {
          text: '',
          align: 'center',
          sortable: false,
          value: 'avatar'
        },
        {
          text: 'ユーザー名',
          align: 'left',
          value: 'name'
        },
        { text: 'フォロワー数', value: 'deadline' },
        { text: 'エンゲージメント率', value: 'engagement' },
        { text: '平均いいね数', align: 'left', value: 'avgiine' },
        { text: '編集削除', value: 'action', align: 'right' },
      ],
      chips: ['Instagram', 'Twitter', 'Ameblo','Line Blog'],
      chip1: true,
      chip2: true,
    };
  },
  computed: {
    projects () {
      return Projects;
    }
  },
  methods: {
    remove (item) {
      this.chips.splice(this.chips.indexOf(item), 1);
      this.chips = [...this.chips];
    }
  }
};
</script>
